
@{
    ViewBag.Title = "AdminCreate";
    Layout = "~/Views/Shared/_LayoutThemed.cshtml";
}

<article class="article gradient-2">
    <h2 class="title container text-center">Welcome to Art Find</h2>
    <section class="form-section text-center">
        <div class="section-inner container">
            <div class="row">
                
                <!-- Artwork Form -->
                <div class="form-container col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0" ng-controller="mainController as main">
                    <form id="artworkForm" name="main.artworkForm" ng-submit="main.submitForm(main.artworkForm.$valid)" novalidate>
                        <div class="contact-form-inner">
                            <h3 class="subtitle"> Create a New Artwork</h3>
                            <div class="row">

                                <!-- Title Input -->
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error' : main.artworkForm.artworkTitle.$invalid && main.artworkForm.$submitted}">
                                    <label class="" for="artworkTitle">Artwork Title</label>
                                    <input type="text" name="artworkTitle" class="form-control" ng-model="main.artworkTitle" placeholder="Artwork Title" ng-maxlength="100" required>
                                    <div ng-show="main.artworkForm.$submitted">
                                        <!--<p ng-show="main.artworkForm.artworkTitle.$invalid" class="help-block">artwork name is required.</p>-->
                                        <!--<p ng-show="main.artworkForm.artworkTitle.$error.maxlength" class="help-block">Location Name is too long.</p>-->
                                    </div>
                                </div>
                               
                                <!-- Artwork Instructions-->
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error' : main.artworkForm.artworkInstructions.$invalid && main.artworkForm.$submitted}">
                                    <label class="" for="artworkInstructions">Artwork Instructions</label>
                                    <input type="text" name="artWorkInstructions" class="form-control" ng-model="main.artworkInstructions" placeholder="Artwork Instructions" ng-maxlength="50" required>
                                    <div ng-show="main.artworkForm.$submitted">
                                        <!--<p ng-show="main.artworkForm.artworkInstructions.$invalid" class="help-block">artwork instructions is required.</p>-->
                                        <!--<p ng-show="main.artworkForm.artworkInstructions.$error.maxlength" class="help-block">Artwork Instructions is too long.</p>-->
                                    </div>
                                </div>
                                
                                <!-- Artwork Point Value-->
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error' : main.artworkForm.artworkPointValue.$invalid && main.artworkForm.$submitted}">
                                    <label class="" for="artworkPointValue">Artwork Point Value</label>
                                    <input type="text" name="artworkPointValue" class="form-control" ng-model="main.artworkPointValue" placeholder="Artwork Point Value" required>
                                    <div ng-show="main.artworkForm.$submitted">
                                        <!--<p ng-show="main.artworkForm.artworkPointValue.$invalid" class="help-block">artwork point value is required.</p>-->
                                        <!--<p ng-show="main.artworkForm.artworkPointValue.$error.maxlength" class="help-block">artwork point value is too long.</p>-->
                                    </div>
                                </div>

                                <!--Artwork Clue-->
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error' : main.artworkForm.artworkClue.$invalid && main.artworkForm.$submitted}">
                                    <label class="" for="artworkClue">Artwork Clue</label>
                                    <input type="text" name="artworkClue" class="form-control" ng-model="main.artworkClue" placeholder="Artwork Clue" ng-maxlength="100" required>
                                    <div ng-show="main.artworkForm.$submitted">
                                        <!--<p ng-show="main.artworkForm.artworkClue.$invalid" class="help-block">artwork clue is required.</p>-->
                                        <!--<p ng-show="main.artworkForm.artworkClue.$error.maxlength" class="help-block">artwork clue is too long.</p>-->
                                    </div>
                                </div>

                                <!-- Artist Artist Id dropdown-->
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error' : main.artworkForm.artworkArtistId.$invalid && main.artworkForm.$submitted}">
                                    <label class="" for="artworkArtistId">Artwork Artist Id</label>
                                    <input type="text" name="artworkArtistId" class="form-control" ng-model="main.artworkArtistId" placeholder="Artwork Artist Id" required>
                                    <div ng-show="main.artworkForm.$submitted">
                                        <!--<p ng-show="main.artworkForm.artworkArtistId.$invalid" class="help-block">artwork artist id is required.</p>-->
                                    </div>
                                </div>

                                <!--Artwork Fun Fact-->
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error' : main.artworkForm.artworkFunFact.$invalid && main.artworkForm.$submitted}">
                                    <label class="" for="artworkFunFact">Artwork Fun Fact</label>
                                    <input type="text" name="artworkFunFact" class="form-control" ng-model="main.artworkFunFact" placeholder="Artwork Fun Fact" ng-maxlength="200" required>
                                    <div ng-show="main.artworkForm.$submitted">
                                        <!--p ng-show="main.artworkForm.artworkFunFact.$invalid" class="help-block">artwork artist id is required.<p>-->
                                        <!--<p ng-show="main.artworkForm.artworkFunFact.$error.maxlength" class="help-block">artisit artwork id is too long.</p>-->
                                    </div>
                                </div>

                                <!-- Artwork Readmore NOT VALIDATED-->
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group" ng-class="{'has-error' : main.artworkForm.artworkReadMore.$invalid && main.artworkForm.$submitted}">
                                    <label class="" for="artworkReadMore">Artwork Read More</label>
                                    <input type="text" name="artworkReadMore" class="form-control" ng-model="main.artworkReadMore" placeholder="Artwork Read More">
                                </div>

                                <!-- Artwork Location Id NOT VALIDATED-->
                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <p>Artwork Location Id</p>
                                </div>

                                <!-- FILE UPLOAD SECTION -->
                                <div class="form-group col-md-10">
                                    <input type="file" accept="image/*" id="artworkImageUrl" name="artworkImageUrl">
                                </div>
                                <br />
                                <div class="form-group col-md-2">
                                    <img src="#" id="imageSrc" alt="Artwork Image" style="display:none" width="70" />
                                </div>
                                <!-- END OF FILE UPLOAD SECTION -->


                                <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                                    <button type="button" id="btnCreateArtwork" class="btn btn-block btn-cta btn-cta-primary">Create Artwork</button>
                                    <button type="button" id="btnResetForm" class="btn btn-block btn-cta btn-cta-primary">Reset Form</button>
                            </div><!--//row-->
                        </div>
                    </form><!--//contact-form-->
                </div><!--//form-container-->
            </div><!--//row-->
        </div><!--//section-inner-->
    </section><!--//promo-section-->
</article>

@section scripts{

<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/sabio/services/sabio.services.artists.js"></script>
<script src="~/Scripts/sabio/Services/sabio.services.artworks.js"></script>
<script src="~/Scripts/sabio/services/sabio.services.uploads.js"></script>
<script src="~/Scripts/sabio/services/sabio.services.locations.js"></script>

    <script type="text/javascript">
        (function () {
            "use strict";

            angular.module(APPNAME)
                .controller('mainController', MainController);

            MainController.$inject = ['$scope', '$baseController', 'artworkService', 'uploadsService'];

            function MainController(
                $scope
                , $baseController
                , artworkService
                , uploadsService) {

                var vm = this;

                $baseController.merge(vm, $baseController);

                vm.$scope = $scope;

                vm.myMessage = "Angular is rendering on the page";
                vm.changeMessage = _changeMessage;
                vm.artworkService = artworkService;


                //
                $scope.$on('$includeContentLoaded', _render);
                $scope.$on('fileUpload.urlAvailable', _userCreateOrUpdate);

                 
                function _changeMessage() {

                    vm.myMessage = "Changed my message with a click";

                }
            }

        })();
    </script>
}
