@{
    ViewBag.Title = "Page Title";
    Layout = "~/Views/Shared/_LayoutThemed.cshtml";
}

@section styles {
    @*<link rel="stylesheet" href="..."/>*@

    @*<style></style>*@
}

<article class="article gradient-2">
    <h2 class="title container text-center">Admin Response Requests</h2>
    <section>
        <div class="section-inner container text-center">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                    <h3 class="subtitle">Response Requests</h3>
                    <div class="content">
                        <!--Where we'll put our data when we receive it from the response.-->
                        <p id="subject" name="subject"></p>
                        <p id="body" name="body"></p>
                        <p id="email" name="email"></p>
                        <p id="userId" name="userId"></p>
                        <form id="form">

                            <!--textarea text color, black. Courtesy of stackoverflow.--> 
                            <textarea id="textData" rows="7" cols="70" color="black" onfocus="if(this.value==this.defaultValue)this.value='';this.style.color='#333'" onblur="if(this.value=='') {this.value=this.defaultValue;this.style.color='#CCC'}" autofocus></textarea>
                        </form>
                        <button type="submit" class="btn btn-default" name="getResponse" id="formBtn">Get Response</button>

                        <div id="landing" >

                        </div>

                        <p>Atom was founded by ut ante vitae bibendum in 2015 in XYZ city. Nunc nunc orci, euismod quis felis convallis, accumsan faucibus elit. Vivamus venenatis ipsum at libero molestie, eu scelerisque leo sollicitudin. Ut ut lacus et enim maximus pellentesque porta vitae lorem. Sed vehicula consectetur leo, non pharetra quam sodales in. Vivamus a massa ac ligula tincidunt viverra eu in eros. Suspendisse hendrerit cursus risus, vel eleifend leo euismod ut.</p>
                    </div><!--//content-->
                </div>
            </div><!--//row-->
        </div>
    </section>
</article>

@section scripts {

<script src="~/Scripts/stark/services/stark.services.supportRequests.js"></script>

<script type="text/javascript">
    stark.page.startUp = function () {
        console.log("AdminResponse page started up!");
        $("#formBtn").on("click", stark.page.handlers.updateAR);
    };

    // READ FORM/TEXTAREA
    stark.page.readARForm = function () {
        console.log("We're in the text Area");
        var payload = {
            Response: $("#textData").val()
            , Id: stark.page.config.item
        }
        
        return payload;

    };  
    console.log("Did it work?");

    // RESPONSE SUCCESS
    stark.page.handlers.onResponseSuccess = function (response) {
        stark.services.notifications.success('You have successfully updated your admin response!.');
        console.log("The response has been sent!");
    }

    // RESPONSE ERROR
    stark.page.handlers.onResponseError = function (response) {
        stark.services.notifications.error('There was an error updating your admin response.');
        console.log("you have an error with your response");
    }

    // INVOKE UPDATE RESPONSE FUNCTION
    stark.page.handlers.updateAR = function () {
        var supportRequestId = stark.page.config.item;
        var supportResponseData = stark.page.readARForm();
        stark.page.lastSavedData = supportResponseData
        stark.services.supportRequests.updateResponse(supportRequestId, supportResponseData, stark.page.handlers.onResponseSuccess, stark.page.handlers.onResponseError);
    };
    
</script>

}