@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutThemed.cshtml";
}
                                                           
            <article class="jobs article gradient-6">
                <section class="jobs-section container text-center">
                    <div class="row">
                        <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                            <div class="section-inner">
                                <h3 class="subtitle">Support Requests</h3>
                                <p class="intro"></p>
                                <div class="job-list-wrapper">
                                    <div class="content" ng-controller="mainController as main">
                                        <div ng-repeat="supportRequestItem in main.supportRequests">
                                        <div class="item">
                                            <div class="item-inner">
                                                <!--Content-->
                                                <h4 class="srSubject job-title">{{supportRequestItem.subject}}</h4>
                                                <div class="meta">
                                                    <ul class="list-inline">
                                                        <li>{{supportRequestItem.email}}</li>
                                                        <li>{{supportRequestItem.dateCreated | date: 'MMMM d, y h:mm a'}}</li>
                                                    </ul>
                                                </div>
                                                <div class="excerpt">
                                                    <p>{{supportRequestItem.body}}</p>
                                                    <div >
                                                        <a ng-href="{{'/Support-Requests/'+supportRequestItem.id+'/Edit'}}">Edit Support Request <i class="fa fa-long-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                    </div><br><br />
                                </div><!--//job-list-wrapper-->
                            </div><!--//section-inner-->
                        </div>
                    </div><!--//row-->
                </section><!--//jobs-list-->
            </article><!--//article-->
        </div>

@section scripts{
    
    <script src="/Scripts/stark/services/stark.services.supportRequests.js"></script>

    <script type="text/javascript">
        (function () {
            "use strict";

            angular.module(APPNAME)
                .controller('mainController', MainController);

            MainController.$inject = ['$scope', '$baseController', 'supportRequestsService', 'notificationsService'];

            function MainController(
                $scope
                , $baseController, supportRequestsService, notificationsService) {

                var vm = this;

                $baseController.merge(vm, $baseController);

                vm.$scope = $scope;
                vm.supportRequestsService = supportRequestsService;
                vm.$log.log("Page started up.");
                vm.notificationsService = notificationsService;
                vm.render = render();

                function render() {
                    vm.$log.log("Render Function started.");
                    vm.supportRequestsService.getAll(_onSuccess, _onError); //call to AJAX script, define services(create this'service' function within the stark.services.supportRequests.js script, and $inject this service within the $basecontroller.
                }

                function _onSuccess(response) {
                    vm.$log.log(response.items);
                    //vm.id = responose.items.id;   //gets rid of my user responses, wanted to create an id to atttach each edit link to, when clicking the ng-href attribute

                    //bind 'supportRequests' to response.items 
                    vm.supportRequests = response.items;
                    if (vm.supportRequests = response.items) {
                        vm.$log.log("The supportRequests works");
                        vm.notificationsService.success("Your page responded, oh yea! *Hulk Hogan Voice*");
                    }
                    else {
                        vm.$log.log("The supportRequests does NOT work! So sad.");
                        vm.notificationsService.error("You page doesn't render!");
                    }

                    //Turn email to display it's NULL reference in VM. 
                    //(function emailVerify {
                    //    if(!supportRequests.email) {
                    //      vm.supportRequests.email = null
                    //        if(vm.supportRequests.email == null) {
                    //if equal to the value of null, then set the vm.supportRequests.email to display(vm.supportRequests.email) the text "NULL" on the viewmodel
                    //          vm.supportRequests.email = "NULL";  //
                    //        }
                    //        else{
                    //             vm.$log.log("There was an error with your ");
                    //        }
                    //    }
                    //})(); 
                    
                    $scope.$apply(); //used for integrating angularJS and calling watch listener functions. Gets bindings to update after this is applied. 
                }

                function _onError() {
                    vm.$log.log("An error occured");
                }
            }
        })();
    </script>
}
