@{
    Layout = "~/Views/Shared/_LayoutThemed.cshtml";
}


<article class="article gradient-2">
    <h2 class="title container text-center">Admin Response Requests</h2>
    <section>
        <div class="section-inner container text-center">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                    <h3 class="subtitle">Support Requests</h3>
                    <div class="content" ng-controller="mainController as main">
                          <div ng-repeat="supportRequestItem in main.supportRequests">{{supportRequestItem.subject}}</div><br>
                          <div ng-repeat="supportRequestItem in main.supportRequests">{{supportRequestItem.body}}</div><br>
                          <div ng-repeat="supportRequestItem in main.supportRequests">{{supportRequestItem.email}}</div><br>
                          <div ng-repeat="supportRequestItem in main.supportRequests">{{supportRequestItem.userid}}</div><br>
                            <textarea id="textData" rows="7" cols="70" color="black" onfocus="if(this.value==this.defaultValue)this.value='';this.style.color='#333'" onblur="if(this.value=='') {this.value=this.defaultValue;this.style.color='#CCC'}" autofocus></textarea>
                        <textarea id="t" rows="7" cols="70" color="black"  autofocus></textarea><br>
                        <button class="btn btn-cta-primary" ng-click="" ng-submit="">Submit Button</button>
                    </div><!--//content-->
                </div>
            </div><!--//row-->
        </div>
    </section>
</article>

@section scripts{
    
    <script src="/Scripts/stark/services/stark.services.supportRequests.js"></script>

    <script type="text/javascript">
        (function () {
            "use strict";

            angular.module(APPNAME)
                .controller('mainController', MainController);

            MainController.$inject = ['$scope', '$baseController', 'supportRequestsService'];

            function MainController(
                $scope
                , $baseController, supportRequestsService) {

                var vm = this;

                $baseController.merge(vm, $baseController);

                vm.$scope = $scope;
                vm.supportRequestsService = supportRequestsService;
                vm.$log.log("Page started up.");
                vm.render = render();

                function render() {
                    vm.$log.log("Render Function started.");
                    vm.supportRequestsService.getAll(_onSuccess, _onError); //call to AJAX script, define services(create this'service' function within the stark.services.supportRequests.js script, and $inject this service within the $basecontroller.
                }

                function _onSuccess(response) {
                    vm.$log.log(response.items);

                    //Get AdminUserId


                    vm.supportRequests = response.items;
                        if (vm.supportRequests = response.items) {
                            vm.$log.log("The supportRequests works");
                        }
                        else {
                            vm.$log.log("The supportRequests does NOT work! So sad.");
                        }

                    
                    $scope.$apply(); //used for integrating angularJS and calling watch listener functions. Gets bindings to update after this is applied. 
                }

                function _onError() {
                    vm.$log.log("An error occured");
                }
            }

        })();
    </script>
}
