@{
    Layout = "~/Views/Shared/_LayoutThemed.cshtml";
}

<article class="article gradient-2">
    <h2 class="title container text-center">Admin Index Page</h2>
    <section>
        <div class="section-inner container text-center">
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12 col-md-push-1 col-sm-push-0 col-xs-push-0">
                    <h3 class="subtitle">Page Title</h3>
                    <div class="content" ng-controller="mainController as main">
                        <p name="requestResponses"> {{main.requestResponses}}</p>
                        <button type="button" ng-click="main.render()">Change Message</button>
                    </div><!--//content-->
                </div>
            </div><!--//row-->
        </div>
    </section>
</article>


@section scripts{
    
    <script src="/Scripts/stark/services/stark.services.supportRequests.js"></script>

    <script type="text/javascript">
        (function () {
            "use strict";

            angular.module(APPNAME)
                .controller('mainController', MainController);

            MainController.$inject = ['$scope', '$baseController', 'supportRequestsService'];

            function MainController(
                $scope
                , $baseController, supportRequestsService) {

                var vm = this;

                $baseController.merge(vm, $baseController);

                vm.$scope = $scope;
                //vm.myMessage = "Angular is rendering on the page";        //Deleted the myMessage vm variable. 
                vm.requestResponses = null;
                vm.supportRequestsService = supportRequestsService;
                //vm.requestResponses = render();
                //vm.requestResponses = "The rendering works!";

                function render() {     
                    vm.$log.log("Page started up.");
                    vm.supportRequestsService.getAll(_onSuccess, _onError);
                   // vm.requestResponses = "This rendering stuff works!";
                    //vm.supportRequestsService.getAll(_onSuccess, _onError); //call to AJAX script, define services(create this'service' function within the stark.services.supportRequests.js script, and $inject this service within the $basecontroller.
                }

                function _onSuccess(supportRequests) {
                    vm.$log.log(supportRequests.items);
                    vm.requestResponses = supportRequests.items;
                    // vm.requestResponses = "This rendering stuff works!";
                    $scope.$apply(); //used for integrating angularJS and calling watch listener functions. Gets bindings to update after this is applied. 
                }

                function _onError() {
                    vn.$log.log("An error occured");
                }
            }

        })();
    </script>
}
